@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}
.container {
  //background-image: url("../../../Assets/Background1.jpg");
  //background-size: cover;
  z-index: 0;
}
.mat-button.mat-blue {
  color: greenyellow;
}
.mat-button-focus-overlay {
  background-color: red;
}
.toolbar {
  background-color: rgba($color: #000000, $alpha: 0);
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  color: #e7e6f1;
}
#Logo path:nth-child(1) {
  stroke-dasharray: 647;
  fill: green;
}
#Logo path:nth-child(2) {
  stroke-dasharray: 368;
}
#Logo path:nth-child(3) {
  stroke-dasharray: 230;
}
#Logo path:nth-child(4) {
  stroke-dasharray: 230;
}
#Logo path:nth-child(5) {
  stroke-dasharray: 230;
}
#Logo path:nth-child(6) {
  stroke-dasharray: 272;
}
#Logo path:nth-child(7) {
  stroke-dasharray: 44;
}
#Logo path:nth-child(8) {
  stroke-dasharray: 196;
}
