<div class="container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="1%">
    <!-- Toolbar -->
    <mat-toolbar fxFlex fxLayout="row" fxLayoutAlign="space-evenly none" fxFlexOrder="1" class="toolbar">
        <button mat-button> Home</button>
        <a mat-button color="blue"><span class="fa fa-info fa-lg"></span> About</a>
        <a mat-button><span class="fa fa-list fa-lg"></span> Menu</a>
        <a mat-button><span class="fa fa-address-card fa-lg"></span> Contact</a>
    </mat-toolbar>
    <!-- ============================================================================================= -->
    <!-- LOGO DESIGN -->
    <div fxFlex fxFlexOrder="2" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="0%">
        <svg *ngIf="show2" id="Logo" [@listAnimation]="pathes.length" width="100%" height="100%"
            viewBox="-30 -30 765 264" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path *ngFor="let path of pathes; index as i" [] id={{path.id}} attr.d={{path.d}} stroke="#737373"
                stroke-width="5" />
            <!--<path *ngFor="let path of pathes; index as i" [@movey]="path.id" attr.d={{path.d}} stroke="#737373" stroke-width="5" />-->
        </svg>
    </div>
    <!-- ============================================================================================= -->
    <p fxFlex fxFlexOrder="3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta expedita dolor explicabo!
        Soluta culpa ipsam
        velit laboriosam harum hic deserunt quisquam atque? Nisi, quas quae. Hic eaque facilis repellat eius debitis,
        cumque illum eligendi quas asperiores, ipsam maxime reiciendis! Consequatur quaerat, libero nesciunt dolore
        laboriosam sint molestias, reprehenderit nulla, ipsum id repudiandae? Laborum id magnam maxime quam repellat
        veritatis ab iusto, illo at quo incidunt recusandae vero unde beatae quidem sapiente distinctio corporis quasi!
        Ut dolore rerum deserunt? Saepe amet fugit adipisci veniam quis dolores eos laboriosam totam sit, fuga
        voluptatum omnis at provident distinctio. Dignissimos adipisci accusamus porro ut repellat est! Delectus
        temporibus, ratione rem hic veniam vero repellendus, laborum dignissimos, doloribus nemo et? Qui magnam non
        quasi. Laudantium iusto libero dolor a exercitationem cupiditate dolorum incidunt voluptate veritatis molestiae
        atque, adipisci mollitia et dolores nesciunt iste ratione tenetur sed quasi accusantium necessitatibus quidem
        praesentium perferendis. Odio debitis dicta consequuntur eaque omnis, non eius veniam dolor nesciunt minima
        rerum illo possimus iure facere, vitae ducimus libero? Unde ullam aut corrupti nostrum! Soluta aperiam a tempore
        minima, eligendi omnis maiores distinctio accusamus perspiciatis dolorem quam consectetur, earum excepturi
        similique aspernatur dolores maxime sit. Nam libero neque provident ad! Ipsum beatae eligendi ex laudantium vel
        incidunt nihil, voluptatibus provident expedita sequi voluptas tempore. Eveniet illum accusantium consectetur
        inventore deleniti dolorem explicabo nam hic culpa exercitationem facilis totam natus rem deserunt voluptatibus
        possimus assumenda consequuntur aperiam quae, nulla recusandae molestias quis! Culpa, natus deleniti voluptatem
        similique ullam provident maxime consequuntur repellat, repellendus neque sed quia. Unde necessitatibus,
        voluptatem voluptas vitae temporibus debitis accusantium repudiandae excepturi nulla adipisci libero natus earum
        expedita? Recusandae voluptatum, praesentium officia cumque quam illo beatae velit nobis iste? Natus tempora,
        totam libero cupiditate vero consequatur sequi sapiente sit eum facere, dignissimos ab labore expedita et
        laudantium accusantium consequuntur esse? Consectetur culpa animi totam delectus dolorum, veniam quam quo
        perspiciatis reprehenderit alias numquam repudiandae? Impedit accusamus vitae aperiam perferendis est pariatur
        fugit laborum odit minus error dolores tenetur facilis incidunt autem explicabo nostrum voluptates cupiditate
        officia consectetur, sunt quisquam libero rerum. Placeat architecto cupiditate ratione tempore velit reiciendis
        tenetur sequi quos voluptatibus officia culpa totam et fuga impedit facere quibusdam at amet debitis ex iusto,
        laborum ipsa dolorem ea! Fugit porro temporibus vero, similique, ipsa officiis dolorem recusandae, delectus enim
        nam necessitatibus numquam nesciunt quidem aut illum maiores blanditiis voluptatum odit ullam eligendi rem.
        Suscipit molestias amet itaque adipisci a quidem praesentium porro voluptate harum. Minima, animi mollitia qui
        nulla iure deserunt corporis ratione nisi quasi vitae quo? Molestias, atque exercitationem! Repellendus, earum.
        Odio magni delectus consequatur quisquam animi dolorem ullam aut cumque perspiciatis mollitia porro illum
        officia alias, maiores voluptatum quis fuga distinctio quia? Repellendus perferendis maiores perspiciatis
        molestias suscipit quae modi magni illum quam unde adipisci molestiae nisi, non dolorem! Ex eum mollitia numquam
        neque necessitatibus nulla odit dolore est earum veritatis. Itaque tenetur facilis totam autem odio officiis
        rem. Eos perferendis aperiam pariatur at architecto sunt optio asperiores et vel! Id quia quisquam optio
        delectus ducimus hic? Maiores officia est fugiat aut soluta possimus labore rerum eos aspernatur consectetur,
        culpa harum delectus porro! Aspernatur id, natus officiis deserunt quam voluptates voluptatibus earum
        dignissimos quo facere perspiciatis debitis vel dolores? Voluptatibus atque molestiae consectetur provident nisi
        delectus dicta non! Soluta aperiam odio dolorem possimus est a nam dignissimos. Reiciendis soluta aliquam
        voluptatibus ut dicta repellendus voluptas quasi vel, officia, praesentium dolore alias atque rem saepe, fugiat
        doloremque corporis laudantium? Rem excepturi omnis sequi nam veritatis doloremque quasi unde repellendus velit
        dignissimos odio ipsam quis repudiandae et hic deserunt sed ducimus nisi iste quas perspiciatis, laboriosam
        culpa voluptate minima. Amet dolore quis, labore animi, obcaecati saepe ea distinctio esse impedit, vel cum
        quisquam. Culpa porro perspiciatis fuga distinctio inventore? Quasi aperiam minima quia est accusamus aliquam!
        Maiores beatae cupiditate nemo laborum nisi aspernatur esse quisquam laboriosam corporis accusamus, nostrum
        neque, veritatis rem tempore illum dignissimos? Aut eos praesentium corporis delectus reprehenderit doloribus
        vitae, repellendus voluptate non beatae amet accusantium asperiores vero quod explicabo laborum neque, error
        soluta iusto perspiciatis eveniet! Dolore perferendis tenetur, nihil eius nobis tempora, ipsa quis eos ad
        asperiores velit debitis sequi aliquam itaque odio libero reprehenderit animi. Laboriosam veritatis, neque minus
        commodi ut sit odio enim, delectus ullam magni a odit alias tempora quae dignissimos qui laudantium soluta
        repudiandae voluptas esse harum repellat quo nesciunt? Expedita, deleniti voluptate eveniet facilis totam
        consectetur officiis molestiae porro adipisci blanditiis inventore nihil minima nemo quidem ab quas enim eos
        voluptatibus possimus animi sapiente voluptatum consequuntur! Cumque asperiores amet, dignissimos quos
        architecto sit, quisquam, eligendi suscipit nulla aliquid saepe quam adipisci non veniam vitae consequuntur
        harum fugit facilis temporibus pariatur aperiam tempore iste. Ea in ipsam expedita alias voluptatum velit a,
        odit quia tempore quam illum nobis maxime. Amet, laborum accusamus. Sapiente placeat eaque, illo molestiae ipsam
        expedita nam laudantium deleniti quod inventore? Commodi provident, officiis ex debitis explicabo error, eum ab
        quos nobis, similique esse itaque vero tempora incidunt minus? Unde natus incidunt dolores quisquam quasi
        impedit adipisci libero hic consectetur recusandae fugit, omnis corporis animi aut ex laboriosam officiis earum
        odio. Sit odio omnis at quos obcaecati beatae, provident quod aliquid! Hic tempora alias itaque ipsum rerum,
        debitis eos unde nostrum ut enim ex? Quidem cum dolorem libero, earum non ab repellendus vitae quisquam,
        possimus provident ipsam quam repudiandae molestiae voluptates iure! Excepturi repellat, aspernatur nesciunt
        exercitationem vero voluptate. Hic architecto voluptates nihil adipisci, veritatis optio.</p>
    <p fxFlex fxFlexOrder="4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta expedita dolor explicabo!
        Soluta culpa ipsam
        velit laboriosam harum hic deserunt quisquam atque? Nisi, quas quae. Hic eaque facilis repellat eius debitis,
        cumque illum eligendi quas asperiores, ipsam maxime reiciendis! Consequatur quaerat, libero nesciunt dolore
        laboriosam sint molestias, reprehenderit nulla, ipsum id repudiandae? Laborum id magnam maxime quam repellat
        veritatis ab iusto, illo at quo incidunt recusandae vero unde beatae quidem sapiente distinctio corporis quasi!
        Ut dolore rerum deserunt? Saepe amet fugit adipisci veniam quis dolores eos laboriosam totam sit, fuga
        voluptatum omnis at provident distinctio. Dignissimos adipisci accusamus porro ut repellat est! Delectus
        temporibus, ratione rem hic veniam vero repellendus, laborum dignissimos, doloribus nemo et? Qui magnam non
        quasi. Laudantium iusto libero dolor a exercitationem cupiditate dolorum incidunt voluptate veritatis molestiae
        atque, adipisci mollitia et dolores nesciunt iste ratione tenetur sed quasi accusantium necessitatibus quidem
        praesentium perferendis. Odio debitis dicta consequuntur eaque omnis, non eius veniam dolor nesciunt minima
        rerum illo possimus iure facere, vitae ducimus libero? Unde ullam aut corrupti nostrum! Soluta aperiam a tempore
        minima, eligendi omnis maiores distinctio accusamus perspiciatis dolorem quam consectetur, earum excepturi
        similique aspernatur dolores maxime sit. Nam libero neque provident ad! Ipsum beatae eligendi ex laudantium vel
        incidunt nihil, voluptatibus provident expedita sequi voluptas tempore. Eveniet illum accusantium consectetur
        inventore deleniti dolorem explicabo nam hic culpa exercitationem facilis totam natus rem deserunt voluptatibus
        possimus assumenda consequuntur aperiam quae, nulla recusandae molestias quis! Culpa, natus deleniti voluptatem
        similique ullam provident maxime consequuntur repellat, repellendus neque sed quia. Unde necessitatibus,
        voluptatem voluptas vitae temporibus debitis accusantium repudiandae excepturi nulla adipisci libero natus earum
        expedita? Recusandae voluptatum, praesentium officia cumque quam illo beatae velit nobis iste? Natus tempora,
        totam libero cupiditate vero consequatur sequi sapiente sit eum facere, dignissimos ab labore expedita et
        laudantium accusantium consequuntur esse? Consectetur culpa animi totam delectus dolorum, veniam quam quo
        perspiciatis reprehenderit alias numquam repudiandae? Impedit accusamus vitae aperiam perferendis est pariatur
        fugit laborum odit minus error dolores tenetur facilis incidunt autem explicabo nostrum voluptates cupiditate
        officia consectetur, sunt quisquam libero rerum. Placeat architecto cupiditate ratione tempore velit reiciendis
        tenetur sequi quos voluptatibus officia culpa totam et fuga impedit facere quibusdam at amet debitis ex iusto,
        laborum ipsa dolorem ea! Fugit porro temporibus vero, similique, ipsa officiis dolorem recusandae, delectus enim
        nam necessitatibus numquam nesciunt quidem aut illum maiores blanditiis voluptatum odit ullam eligendi rem.
        Suscipit molestias amet itaque adipisci a quidem praesentium porro voluptate harum. Minima, animi mollitia qui
        nulla iure deserunt corporis ratione nisi quasi vitae quo? Molestias, atque exercitationem! Repellendus, earum.
        Odio magni delectus consequatur quisquam animi dolorem ullam aut cumque perspiciatis mollitia porro illum
        officia alias, maiores voluptatum quis fuga distinctio quia? Repellendus perferendis maiores perspiciatis
        molestias suscipit quae modi magni illum quam unde adipisci molestiae nisi, non dolorem! Ex eum mollitia numquam
        neque necessitatibus nulla odit dolore est earum veritatis. Itaque tenetur facilis totam autem odio officiis
        rem. Eos perferendis aperiam pariatur at architecto sunt optio asperiores et vel! Id quia quisquam optio
        delectus ducimus hic? Maiores officia est fugiat aut soluta possimus labore rerum eos aspernatur consectetur,
        culpa harum delectus porro! Aspernatur id, natus officiis deserunt quam voluptates voluptatibus earum
        dignissimos quo facere perspiciatis debitis vel dolores? Voluptatibus atque molestiae consectetur provident nisi
        delectus dicta non! Soluta aperiam odio dolorem possimus est a nam dignissimos. Reiciendis soluta aliquam
        voluptatibus ut dicta repellendus voluptas quasi vel, officia, praesentium dolore alias atque rem saepe, fugiat
        doloremque corporis laudantium? Rem excepturi omnis sequi nam veritatis doloremque quasi unde repellendus velit
        dignissimos odio ipsam quis repudiandae et hic deserunt sed ducimus nisi iste quas perspiciatis, laboriosam
        culpa voluptate minima. Amet dolore quis, labore animi, obcaecati saepe ea distinctio esse impedit, vel cum
        quisquam. Culpa porro perspiciatis fuga distinctio inventore? Quasi aperiam minima quia est accusamus aliquam!
        Maiores beatae cupiditate nemo laborum nisi aspernatur esse quisquam laboriosam corporis accusamus, nostrum
        neque, veritatis rem tempore illum dignissimos? Aut eos praesentium corporis delectus reprehenderit doloribus
        vitae, repellendus voluptate non beatae amet accusantium asperiores vero quod explicabo laborum neque, error
        soluta iusto perspiciatis eveniet! Dolore perferendis tenetur, nihil eius nobis tempora, ipsa quis eos ad
        asperiores velit debitis sequi aliquam itaque odio libero reprehenderit animi. Laboriosam veritatis, neque minus
        commodi ut sit odio enim, delectus ullam magni a odit alias tempora quae dignissimos qui laudantium soluta
        repudiandae voluptas esse harum repellat quo nesciunt? Expedita, deleniti voluptate eveniet facilis totam
        consectetur officiis molestiae porro adipisci blanditiis inventore nihil minima nemo quidem ab quas enim eos
        voluptatibus possimus animi sapiente voluptatum consequuntur! Cumque asperiores amet, dignissimos quos
        architecto sit, quisquam, eligendi suscipit nulla aliquid saepe quam adipisci non veniam vitae consequuntur
        harum fugit facilis temporibus pariatur aperiam tempore iste. Ea in ipsam expedita alias voluptatum velit a,
        odit quia tempore quam illum nobis maxime. Amet, laborum accusamus. Sapiente placeat eaque, illo molestiae ipsam
        expedita nam laudantium deleniti quod inventore? Commodi provident, officiis ex debitis explicabo error, eum ab
        quos nobis, similique esse itaque vero tempora incidunt minus? Unde natus incidunt dolores quisquam quasi
        impedit adipisci libero hic consectetur recusandae fugit, omnis corporis animi aut ex laboriosam officiis earum
        odio. Sit odio omnis at quos obcaecati beatae, provident quod aliquid! Hic tempora alias itaque ipsum rerum,
        debitis eos unde nostrum ut enim ex? Quidem cum dolorem libero, earum non ab repellendus vitae quisquam,
        possimus provident ipsam quam repudiandae molestiae voluptates iure! Excepturi repellat, aspernatur nesciunt
        exercitationem vero voluptate. Hic architecto voluptates nihil adipisci, veritatis optio.</p>
</div>